@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;

}
.wapper{
    width: 1190px;
    margin: 0 auto;
}
/* body的背景图*/
body{
    width: 100%;
    height: 100%;
    background: #f3f4f6
    url(../img/bg-index.jpg) no-repeat  top center;
    
}
/*导航的背景图*/
.back{
        background:url(../img/cont-index.jpg) no-repeat top center;
     
}
/* 通用导航栏*/
.one-nav{  
    overflow: hidden;
    width: 100%;
    height: 100%;
/* 通用导航栏右边*/
    .one-nav-right{
    float: right;
    >li{
        float: left;
   color: #444;
       >a{ display: inline-block;
           color: #9f9f9f;
           font-size: 12px;
          line-height: 30px;
          padding: 0 10px;
       }
    }}
 /*通用导航栏左边*/
.one-nav-left{
       float: left;
       >li{
        float: left;
        color: #444;
        >a{ display: inline-block;
            color: #9f9f9f;
            font-size: 12px;
           line-height: 30px;
           padding: 0 10px;
        }
    } 
}
 }       
/*搜索栏*/
.search-box{
    height: 96px;
   
   /*搜索栏的左边部分*/
    .search-left{
    a{ position: absolute;
        display: block;
         width: 285px;
        height:96px;
        text-indent: -99999px;   
           background: url(../img/navico.png) no-repeat -670px 15px;
           float: left;
    }
    }
    /*搜索栏的右边部分*/
   .search-conter{
          width: 500px;
       height: 49px;
       margin-left:400px ;
       margin-top:20px ;
        float: left;
         background:url(../img/navico.png)no-repeat  -1000px 0px ;
        >input{
            width: 430px;
            height: 49px;
            margin-left: 10px;
            background: none;
            outline: none;
            border: none;
           font-size: 15px;
        }
        >span>a{
            display:block;
            width: 49px;
            height: 49px;
            background: url(../img/navico.png) no-repeat -1558px 2px;
              float: right;
              text-indent: -9999px
        };
   }
   /*搜索栏的右边部分*/
   .search-right{
       float: left;
       margin: 25px 0 0 60px;
       
        a{
             width: 223px;
             height: 59px;
             background: url(../img/navico.png) no-repeat -437px -5px;
             display: block;
             text-indent: -9999px;
        }
}
}
/* 主导航栏*/
.nav-big{
    height: 76px;
      .wapper>ul{
        
      >li{
   
            float: left;
            >a{
          display: inline-block;
            width: 134px;
            height: 76px;
            text-align: center;
            line-height: 76px;
            color: #9f9f9f;
            font-size: 18px;
            }

        }
        li:hover a {
       color:rgb(247, 44, 8);
        }
      li:nth-child(1){
              background: url(../img/navico.png) no-repeat -275px -5px;
              >a{
                font-weight: bold;
                color: #fef7ec;
                text-shadow: 1px 3px 3px #bf4d00
              }
     }
    }
    .wapper>.shopping-cart{
       
        float: right;
       >a{color:rgb(247, 44, 8);
        line-height: 76px;
        text-align: center;
        font-size: 18px;    
        display: inline-block;
         width: 192px;
        height: 76px;
    }
}
}
/* 副导航栏*/
.nav-min{
    height: 48px;
    >.wapper>ul{
        >li{
            float: left;
            >a{
                display: block;
                width: 118px;
                height: 48px;
                font-size: 14px;
                color: #9f9f9f;
                text-align: center;
                line-height: 48px;
            }

        }
        li:hover a {
            color:white}
            li:nth-child(1){
            >a{
                width: 152px;
          
            }
            }    
    }   
}
/* 登入和广告链接*/
.mainer{
    height: 100%;
    overflow: hidden;
    /*左边的登入栏*/
    .wapper>.enter-bar{
        float: left;
        background: white;
         
        width: 220px;
          >.enter-top{
              height: 56px;
              margin: 17px 0 17px 10px;
            
              
              >img{
                  display: block;
                  width: 45px;
                  float: left;
                  border-radius:50%;
               
                
              }
              >P{
                  margin-right: 5px;
                margin-left: 60px;
                line-height: 18px;
                font-size: 12px;
                >a{
                    color:  #1c8bde;
                }
              }
              
          }
          >.enter-center{
          
            margin:7px 10px 0 10px ;
            width: 190px;
            height: 65px;
            background: #f6f7fa;
            color: #555;
            position: relative;
              >p{
                  font-size: 12px;
                  line-height: 40px; 
                  text-indent: 10px;                 
              >a{
                  position: absolute;
                  top: 30px;
                  right: 10px;
                color:  #1c8bde;
              }
                }

          }
          >.enter-centerli{
            margin-top: 6px;
            padding-bottom: 14px;
            color: #cfcfcf;
            font-size: 14px;
            font-weight: normal;
            line-height: 10px;
            height: auto;
            max-height: 100px;
            display: block;
            overflow: hidden;
            ul>li{
                line-height: 30px;
                text-indent: 40px;
                >a{
                color: #555;
               text-decoration: none;}
            }
          }
          >.enter-bot{
            height: 142px;
            padding: 0 0 0 5px;
            width: 200px;
            overflow: hidden;
            background: #fafbfc;
            >.gg{
                margin-bottom: 3px;
                border-bottom: 1px solid #ececec;
                height: 33px;
                line-height: 33px;
                >h5{
                    float: left;
                    font-size: 14px;
                    color: #3a3f4a;
                    text-indent: 7px;
                }
               >a{
                float: right;
                width: 36px;
                line-height: 25px;
                color: #1994eb;
                margin-top: 6px;
                font-size: 12px;
               }
            }
            >li{
                width: 212px;
                padding: 10px 0 0 0;
                line-height: 12px; 
                overflow: hidden;
               
                 
                >a{
                float: left;
                font-size: 12px;
                color: #6b6060;
                text-indent: 7px;
            }
               
               >i{
                float: right;
                width: 40px;
                font-style: normal;
                color: #8e8e8e;
                font-size: 10px;
               
            }
            }
            
          
            
          }
    }
    /*中间的轮播图*/
    .wapper>.banner{
        float: left;
        margin-left:7px ;
     >div{
         width: 770px;
         height: 330px;
         background: url(../img/20191111113140_966998.jpg);
     }
     >ul{
         width: 770px;

         >li{
             
             float: left;
           >a{
               display: block;
               height: 44px;
               width: 192px;
               text-align: center;
               line-height: 47px;
               background: #cfcfcf;

           }
         }
     }
    }
    /*右边的链接栏*/
    .wapper>.link-bar{
        >a{
            display: block;
            float: left;
            line-height: 83px;
            text-align: center;
            font-size: 22px;
            color: #efd4c9;
            width: 186px;
            height: 83px;
            margin-left:7px;
            background: url(../img/indexico.png) no-repeat -6px -302px;
        }
        a:hover {
          background: url(../img/indexico.png) no-repeat  -5px -388px;
        }
        >.djc-codebox{
            width: 185px;
            height: 210px;
            background: black;
             float: left;
             margin-left:7px;
             background: url(../img/indexico.png) no-repeat -5px -5px;
             >img{
                display: block;
                width: 140px;
                height: 140px;
                margin: 0 auto;
                padding-top: 26px;
             }
             >p{
                text-align: center;
                 line-height: 30px;
     
             }
        }
         
        }
    }
/* 列表区域*/

/*限时抢购*/
.time-limit{
    margin-top: 30px;
     position: relative;
   .wapper{
       height: 520px;
       background: white;
       >h3{
        margin-left: 18px;
        width: 1155px;
        font-size: 16px;
        color: #555;
        height: 47px;
        line-height: 54px;
        border-bottom: 2px solid #f3f4f6;
        text-indent: 10px;
       >span{
        position: absolute;
        top: 47px;
        left: 178px;
       
        width: 92px;
        height: 2px;
        background: #36ab87;
        display: block;
       }
       }
       >.morebox{
        position: absolute;
        right: 180px;
        top: 0;
        height: 50px;
        line-height: 50px;
        width: 366px;   
        
        a{
        color: #1994eb;
        font-size: 12px;
        float: right;

       }
    }
    >ul{
        padding-left:14px ;
      >li{
        margin: 20px 20px 0 20px;
        position: relative;
        float: left;
        text-align: center;
        width: 251px;
        height: 420px;
        background: url(../img/indexico.png) no-repeat -188px -770px;
        >.likediv{
          
            >.mark-down{
                position: absolute;
                top: 20px;
                left: 40px;
                width: 56px;
                height: 46px;
                font-size: 12px;
                padding-top: 10px;
                background: url(../img/bg.png) no-repeat -350px -89px;
                color: white;
            }
            >.image{
                 display: block;
                 padding:40px  65px 0 ;
                }
            >.djname{
                margin: 2px 0 2px;
              >a{
                  color: #606060;
                  font-size: 14px;
              }
            } 
            >.price{
                color: orangered;
                font-size: 12px;
                margin-bottom:6px;
                >b{
                    
                   font-size:  24px;
                }
                >span{
                    margin-left: 5px;
                    color: #555;
                }
            }
            >.count-down{
                
                    text-align: center;
                    color: #606060;
                    height: 14px;
                    line-height: 14px;
                    font-size: 12px;
                
            } 
           >.buy{
            margin: 10px auto 0;
            width: 164px;
            height: 35px;
            line-height: 36px;
            text-align: center;
            display: block;
            font-size: 16px;
            color: #fff;
            background: #ff5900;
            border-bottom: 3px solid #e04e00;
            }  
        }
      }
    }
}
}
/* 新品上架*/
.new-up{
    margin-top: 40px;
    position: relative;
    .wapper{
      
       >.new-left{
        background: white;
            width: 952px;
            height: 842px;
            float: left;
        >ul{
            border-bottom: 1px solid  #f3f4f6;  
            margin: 0 20px;
            height: 47px;
            line-height: 54px;
            >li{
              
                float: left;
                >a{ display: block;
                    width: 93px;
                    height: 47px;
                 font-size: 20px;
                    text-align: center;
                    border-bottom: 2px solid  #36ab87; 
                    color: #555;
                }
            }
          >.morebox{
              float: right;
              >a{
                  font-size: 12px;
                  color: #1994eb;
              }
          }
        }
       }
       >.new-right{
           float: right;
           width: 228px;
           height: 400px;
           >h3{
               
           }
       }
    }
}

